<div class="list-group">
<% chronicle.each do |entry| %>
  <% if entry.kind_of?(Earning) %>
    <div class="list-group-item row list-group-item-success">
      <span class="col-md-2">
        +<%= entry.points %>
      </span>
      <span class="col-md-2">
        <%= l(entry.created_at, :format => :short) %>
      </span>
      <span class="col-md-4">
        <%= entry.chronicle_text %>
      </span>
      <% if entry.cancel.blank? %>
        <span class="btn  btn-danger col-md-2">
          <%= link_to 'Storno', '#' %>
        </span>
      <% end %>
    </div>
    <% if entry.cancel.present? %>
      <%= render({
        :partial => 'hackers/chronicle/earning_cancel', 
        :locals  => {:entry => entry.cancel} 
      }) %>
    <% end %>

  <% elsif entry.kind_of?(Redemption) %>
    <div class="list-group-item list-group-item-warning row">
      <span class="col-md-1"></span>
      <span class="col-md-1">
        +<%= entry.points %>
      </span>
      <span class="col-md-2">
        <%= l(entry.created_at, :format => :short) %>
      </span>
      <span class="col-md-4">
        <%= entry.chronicle_text %>
      </span>
      <% if entry.cancel.blank? %>
      <span class="btn  btn-danger col-md-2">
        <%= link_to 'Storno', '#' %>
      </span>
    <% end %>
    </div>
    <% if entry.cancel.present? %>
      <%= render({
        :partial => 'hackers/chronicle/redemption_cancel', 
        :locals  => {:entry => entry.cancel} 
      }) %>
    <% end %>
  <% end %>
<% end %>
</div>
