<div class="list-group-item row list-group-item-success">
  <span class="col-md-2">
    +<%= entry.points %>
  </span>
  <span class="col-md-2">
    <%= l(entry.created_at, :format => :short) %>
  </span>
  <span class="col-md-4">
    <%= entry.chronicle_text %>
  </span>
  <% if entry.cancel.blank? %>
    <span class="btn  btn-danger btn-xs col-md-1">
      <%= link_to 'Storno', cancel_earning_path(entry), :method => :post %>
    </span>
  <% end %>
</div>
<% if entry.cancel.present? %>
  <%= render({
    :partial => 'hackers/chronicle/earning_cancel', 
    :locals  => {:entry => entry.cancel} 
  }) %>
<% end %>
