<div class="list-group-item list-group-item-warning row">
  <span class="col-md-1">
    <%= image_tag gravatar_url_for(entry.hacker.email, 24) %>
  </span>
  <span class="col-md-1 col-md-offset-1">
    +<%= entry.points %>
  </span>
  <span class="col-md-2">
    <%= l(entry.created_at, :format => :short) %>
  </span>
  <span class="col-md-4">
    <%= entry.chronicle_text %>
  </span>
  <% if entry.cancel.blank? %>
  <span class="btn  btn-danger btn-xs col-md-1">
    <%= link_to 'Storno', cancel_redemption_path(entry), :method => :post %>
  </span>
<% end %>
</div>
<% if entry.cancel.present? %>
  <%= render({
    :partial => 'hackers/chronicle/redemption_cancel', 
    :locals  => {:entry => entry.cancel} 
  }) %>
<% end %>
